/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #E7E6E6;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .highlight {
    color: #D583AF;
  }
  
  /* Header */
  header {
    background: url('/img/c98ed8741e189a0c8dab1d9ca7103771.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 624px;
  }
  
  header h1 {
    color: #FFFFFF;
    font-weight: 800;
    font-size: 2rem; /* Tamaño base */
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .sub-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: #938484;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .sub-title::after {
    content: '';
    display: block;
    width: 200px; /*largo de la línea */
    height: 3px; /* Grosor de la línea */
    background-color: #938484;
    margin: 0 auto; /* Centra la línea */
    margin-top: 10px;
  }
  
  .sobre-mi {
    background-color: #f8f9fa;
  }
  .sobre-mi-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .trabajos-recientes img {
    border-radius: 8px;
    transition: transform 0.2s;
  }
  
  .trabajos-recientes img:hover {
    transform: scale(1.05);
  }
  
  .educacion {
    background-color: #f0f0f0;
    padding: 40px;
  }
  .list{
    margin-bottom: 50px;
  }
  .strong-color{
    color: #D583AF;
  }
  
  .contacto p {
    font-size: 1rem;
  }
  
  .icon{
    color: #D583AF;
    font-size: x-large;
    margin-right: 5px;
  }
  .contacto strong {
    font-size: 1.4rem;
  }
  
  @media (min-width: 768px) { /* Pantallas medianas (md) y superiores */
    .custom-heading {
      font-size: 3rem;
    }
    .sobre-mi-text{
        font-size: 1rem;
    }
    .list{
        font-size: 1.2rem;
    }
  }

  @media (min-width: 992px) { /* Pantallas grandes (lg) y superiores */
    .custom-heading {
      font-size: 4rem;
    }
    .sobre-mi-text{
        font-size: 1.5rem;
    }
    .list{
        font-size: 1.5rem;
    }
  }